###########################################################################################
## General
*.bak


###########################################################################################
## Ignore KiCad files

# Temporary files
Hardware/**/*.000
Hardware/**/*.bak
Hardware/**/*.bck
Hardware/**/*.kicad_pcb-bak
Hardware/**/*.kicad_sch-bak
Hardware/**/*-backups
Hardware/**/*.kicad_prl
Hardware/**/*.sch-bak
Hardware/**/*~
Hardware/**/_autosave-*
Hardware/**/*.tmp
Hardware/**/*-save.pro
Hardware/**/*-save.kicad_pcb
Hardware/**/fp-info-cache

# Netlist files (exported from Eeschema)
Hardware/**/*.net

# Autorouter files (exported from Pcbnew)
Hardware/**/*.dsn
Hardware/**/*.ses

# Exported BOM files
Hardware/**/*.xml
Hardware/**/*.csv


Hardware/**/fp-info-cache
Hardware/**/fp-lib-table


###########################################################################################
## Eclipse
STMGridSync/**/*.metadata
STMGridSync/**/*.settings
STMGridSync/**/#*.launch

#Build Directories
STMGridSync/**/[Dd]ebug/
STMGridSync/**/[Rr]elease/

#Build Results
STMGridSync/**/*.o
STMGridSync/**/*.d
STMGridSync/**/*.eep
STMGridSync/**/*.elf
STMGridSync/**/*.hex
STMGridSync/**/*.map
STMGridSync/**/*.srec

###########################################################################################
## Ignore LatexFiles
## Core latex/pdflatex auxiliary files:
Dokumentation/**/*.aux
Dokumentation/**/*.lof
Dokumentation/**/*.log
Dokumentation/**/*.lot
Dokumentation/**/*.fls
Dokumentation/**/*.out
Dokumentation/**/*.toc
Dokumentation/**/*.fmt
Dokumentation/**/*.fot
Dokumentation/**/*.cb
Dokumentation/**/*.cb2
Dokumentation/**/.*.lb

## Intermediate documents:
Dokumentation/**/*.dvi
Dokumentation/**/*.xdv
Dokumentation/**/*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
Dokumentation/**/*.bbl
Dokumentation/**/*.bcf
Dokumentation/**/*.blg
Dokumentation/**/*-blx.aux
Dokumentation/**/*-blx.bib
Dokumentation/**/*.run.xml

## Build tool auxiliary files:
Dokumentation/**/*.fdb_latexmk
Dokumentation/**/*.synctex
Dokumentation/**/*.synctex(busy)
Dokumentation/**/*.synctex.gz
Dokumentation/**/*.synctex.gz(busy)
Dokumentation/**/*.pdfsync
Dokumentation/**/*.rubbercache
Dokumentation/**/rubber.cache
